###################
# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo

obj/**
bin/**
runtimes/**
*.user
*.PublishSettings
publish.cmd
packages/
.vs/
.vscode/
